.wrappper {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.noDonation p {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 20px;
}

.noDonation img {
    width: 100%;
}

.myDonations {
    display: grid;
    grid-template-columns: repeat(2, 648px);
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 20px 0;

}

.seeAll {
    margin: 20px 0 0 0;
}

.seeAll button {
    padding: 14px 28px;
    color: #FFF;
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    background: #009444;
    cursor: pointer;
    margin: auto;
}