* {
    font-family: 'Inter', sans-serif;
}

/* csss */
.donation {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 56px;
    margin: 80px 0 0 0;
    padding: 0 0 30px 0;
    flex-direction: column;
}

.theBigImgBox {
    width: 1320px;
    height: 700px;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
}

.donate {
    position: absolute;
    bottom: 0;
    padding: 37px;
    width: calc(100% - 74px);
    border-radius: 0px 0px 8px 8px;
    background: rgba(11, 11, 11, 0.50);
}

.donate button {
    display: inline-flex;
    padding: 16px 26px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.6s;

}

/* .donate button:hover {
    box-shadow: inset 200px 0 rgb(4, 205, 41);
} */

.aboutThisDonation {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 24px;
    width: 1320px;
    margin: auto;

}

.aboutThisDonation h1 {
    color: #0B0B0B;
    font-size: 40px;
    font-weight: 700;
}

.aboutThisDonation p {
    color: rgba(11, 11, 11, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}