@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
    font-family: 'Inter', sans-serif;

}

.parent {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
    background-color: rgb(255, 255, 255);
    position: sticky;
    top: 0;
    z-index: 99;

}

.navBar {
    width: 1320px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.navLinks nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 49px;
}

.links {
    color: #0B0B0B;
    font-size: 18px;
    font-weight: 400;
    position: relative;
}



.links:after {
    content: "";
    position: absolute;
    width: 0%;
    height: 1px;
    background-color: #000000;
    bottom: -4px;
    left: 0;
}

.links:hover:after {
    width: 100%;
}

.active {
    color: #FF444A;
    font-weight: 700;
    ;
    position: relative;
}

.active::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #FF444A;
    bottom: -4px;
    left: 0;
}