@media screen and (max-width: 400px) {

    .navBar {
        flex-direction: column;
        width: 100vw;
        gap: 30px;
    }

    .bannerItems {
        height: 50vh;
    }

    .bannerTXT h1 {
        text-align: center;
        font-size: 35px;
    }

    .searchBox input {
        width: auto;
    }

    .cardContainer {
        grid-template-columns: repeat(1, 312px);
        width: 100vw;
        justify-content: center;
    }

    .myDonations {
        grid-template-columns: repeat(1, 100vw);
    }

    .myDonationCardCon {
        width: fit-content;
        height: fit-content;
        flex-direction: column;
        padding: 0 0 20px 0;
        margin: auto;
    }

    .theBigImgBox {
        width: 90vw;
        height: 45vh;
        background-position: center;
    }

    .aboutThisDonation {
        width: auto;
    }

    .donate {
        width: 100%;
        padding: 20px;
    }

    .errorCon img {
        width: 100%;
    }
}

@media screen and (min-width: 401px) and (max-width: 720px) {

    .navBar {
        flex-direction: column;
        width: 100vw;
        gap: 30px;
    }

    .bannerTXT h1 {
        text-align: center;
        font-size: 35px;
    }

    .searchBox {
        width: 80vw;
    }

    .searchBox input {
        width: 70%;
    }

    .cardContainer {
        grid-template-columns: repeat(1, 312px);
        width: 100vw;
        justify-content: center;
    }

    .myDonations {
        grid-template-columns: repeat(1, 100vw);
    }

    .myDonationCardCon {
        width: fit-content;
        height: fit-content;
        flex-direction: column;
        padding: 0 0 20px 0;
        margin: auto;
    }


    .theBigImgBox {
        width: 90vw;
        height: 45vh;
        background-position: center;
    }

    .aboutThisDonation {
        width: auto;
    }

    .donate {
        width: 100%;
        padding: 20px;
    }

    .errorCon img {
        width: 70%;
    }
}

@media screen and (min-width: 721px) and (max-width: 1280px) {
    .navBar {
        width: 100% !important;
        padding: 0 30px;
        /* gap: 30px; */
    }

    .bannerTXT h1 {
        text-align: center;
        font-size: 35px;
    }

    .searchBox {
        width: 80vw;
    }

    .searchBox input {
        max-width: 475px;
    }

    .cardContainer {
        grid-template-columns: repeat(2, 312px);
        width: 100vw;
        justify-content: center;
    }

    .myDonations {
        grid-template-columns: repeat(2, 322px);
    }

    .myDonationCardCon {
        width: fit-content;
        height: fit-content;
        flex-direction: column;
        padding: 0 0 20px 0;
        margin: auto;
    }

    .theBigImgBox {
        width: 90vw;
        height: 60vh;
        background-position: center;
    }

    .aboutThisDonation {
        width: auto;
    }

    .donate {
        width: 100%;
        padding: 20px;
    }

    .errorCon img {
        width: 70%;
    }
}

@media screen and (min-width: 1281px) and (max-width: 1440px) {
    .theBigImgBox {
        width: 90vw;
        height: 70vh;
        background-position: center;
    }

    .aboutThisDonation {
        width: auto;
    }

    .donate {
        width: 100%;
        padding: 20px;
    }

    .myDonations {
        grid-template-columns: repeat(3, 322px);
    }

    .myDonationCardCon {
        width: fit-content;
        height: fit-content;
        flex-direction: column;
        padding: 0 0 20px 0;
        margin: auto;
    }
}

@media screen and (min-width: 1441px) and (max-width: 1920px) {}

@media screen and (min-width: 1921px) {}