* {
    font-family: 'Inter', sans-serif;
}

.cardContainer {
    display: grid;
    grid-template-columns: repeat(4, 312px);
    gap: 24px;
    padding: 100px 0 182px 0;
    width: 1320px;
    margin: auto;
}